<footer>
    <div class="contact">
        <div id="Contacts"></div>
        <div class="contact__head">
            <h2>Contacts</h2>
        </div>
        <div class="contact__info">
            <div class="contact__info_text">
                Positive pleasure-oriented goals are much more powerful motivators than negative fear-based ones.
            </div>
            <div class="contact__info_link">
                <a href="#" target="_blank"><span class="icon ed-tl"></span></a>
                <a href="#" target="_blank"><span class="icon ed-fb"></span></a>
                <a href="#" target="_blank"><span class="icon ed-in"></span></a>
            </div>
        </div>
        <div class="contact__form">
            <form onsubmit="return validate();">
                <div class="form-group-line">
                    <label class="form-label" for="in_name">Name</label>
                    <input type="text" class="form-input" id="in_name" placeholder="Incognito">
                </div>
                <div class="form-group-line">
                    <label class="form-label" for="in_email">E-mail</label>
                    <input type="email" class="form-input" id="in_email" placeholder="incognito@gmail.com">
                </div>

                <div class="form-group-line">
                    <label class="form-label" for="message">Message</label>
                    <textarea class="form-input" id="message" rows="3" placeholder="Your question or suggestion"></textarea>
                </div>
                <button type="submit" class="button-form">
                    <span class="icon ed-tl"></span>
                </button>
            </form>
        </div>
    </div>
    <div class="copyright">
        <div class="copyright__text">
            Copyright &copy; 2020 Denis Abdullin – deab.ru
        </div>
        <div class="copyright__link">
            <a href="#">Invoicing</a>
            <a href="#">Documents</a>
        </div>
    </div>
</footer>
<script src="js/script.js"></script>
</body>
</html>